body {
    background-color: #FF9633;
    text-align: center;
}

h1 {
    font-family: 'Assistant', sans-serif;
}

.title {
    border: solid 2px purple;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    padding: 50px;
}

img {
    width: 500px;
    height: 500px;
}

p {
    text-shadow: 1px 1px purple;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

.gone {
    display: none;
}



.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
}






